<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>

<div class="container">
  <h4 class="offersindexTitle">求人一覧</h4>

    <div class="search">
      <div class="search_form">
          <%= search_form_for @q do |f| %>
            <div class="form-group">
              <%= f.label :keywords, 'キーワード検索', t('helpers.keywords'), class: 'control-label form-group' %>
              <%= f.text_field :keywords, required: false, value: params.dig(:q, :keywords), class: 'form-control' %>
              <%= f.button '検索する' %>
            </div>
          <% end %>
        
          <%= form_tag offers_path, method: :get, class: 'tags_searchForm' do %>
                <%= select_tag :tag_id,
                               options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                               {
                                 prompt: 'タグで絞り込み',
                                 class: 'form-control tag_select',
                                 onchange: 'submit(this.form);'
                               }
          %>
        <% end %>
      </div>
    </div>
  
    <div class="f-container">
        <% @offers.each do |offer| %>
          <div class="card" style="width: 30rem">
            <div class="card-body">
                <div class="offer-title">
                  <h5><%= offer.title %></h5>
                </div>
                  <% offer.tags.each do |tag| %>
                    <span class="badge badge-success"><%= tag.name %></span>
                  <% end %>
                <div class="name-image">
                  <div class="employer-name">
                    <h5><%= offer.name %></h5>
                  </div>
                  <% if offer.image.attached? %>
                    <%= image_tag(offer.image, width:100, height:100) %>
                  <% end %>
                </div>
                <div class="card-text">
                  <p><%= offer.body %></p>
                </div>
                 <div class="index-btn">
                  <%= link_to '詳細を見る', offer_path(offer.id), class: "btn btn-success index-btn" %>
                  <% if user_signed_in? %>
                    <% if offer.favorited_by?(current_user) %>
                        <%=link_to 'お気に入り解除', offer_favorites_path(offer.id), method: :delete, class: "btn btn-success" %>
                    <% else %>
                        <%=link_to 'お気に入り登録', offer_favorites_path(offer.id), method: :post, class: "btn btn-success" %>
                    <% end %>
                  <% end %>
                 </div>
            </div>
          </div>
        <% end %>
    </div>
    
  <div class="pagination justify-content-center"><%= paginate @offers %></div>
    
  <div class="page_entries_info">
    <%= page_entries_info @offers %>
  </div>
</div>